.imagen-curso {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media (width <1200px) {
    .estrella-icon {
        width: 100% !important;
    }
}