.header {
    background: linear-gradient(to right, #ff8800, #ff9300, #ff8800);
}

.header-logo {
    width: 4rem;
}

.search-form {
    background-color: white;
    border-radius: 2rem;
}

.search-input {
    background-color: transparent;
    outline: none;
    border: none
}

.search-button {
    border: none;
    outline: none;
    background-color: transparent;
}

.search-icon {
    width: 1.5rem;
}

.cart-icon {
    width: 1.8rem;
}

.cart-button {
    background-color: transparent;
    outline: none;
    border: none;
}

.register-button {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
    border: none;
}

.register-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    outline: none;
    border: none;
}

.login-button {
    background-color: rgba(0, 0, 0, 1);;
    color: white;
    outline: none;
    border: none;
}

.login-button:hover {
    background-color: rgba(59, 58, 58, 1);;
    color: white;
    outline: none;
    border: none;
}