.header {
    background: linear-gradient(to right, #ff8800, #ff9300, #ff8800);
    position: absolute;
    z-index: 2;
}

.header-mobile {
    background: linear-gradient(to right, #ff8800, #ff9300, #ff8800);
    position: absolute;
    z-index: 2;
}

.header-logo {
    width: 4rem;
}

.search-form {
    background-color: white;
    border-radius: 2rem;
}

.search-input {
    background-color: transparent;
    outline: none;
    border: none
}

.search-button {
    border: none;
    outline: none;
    background-color: transparent;
}

.search-icon {
    width: 1.5rem;
}

.cart-icon {
    width: 1.8rem;
}

.cart-button {
    background-color: transparent;
    outline: none;
    border: none;
}

.register-button {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
    border: none;
}

.register-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    outline: none;
    border: none;
}

.login-button {
    background-color: rgba(0, 0, 0, 1);
    ;
    color: white;
    outline: none;
    border: none;
}

.login-button:hover {
    background-color: rgba(59, 58, 58, 1);
    ;
    color: white;
    outline: none;
    border: none;
}

.bars-icon {
    width: 2rem;
}

.perfil-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
    border-radius: 50%;
    border: 0.01rem solid rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.perfil-image-mobile {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 15%;
    height: 3rem;
    border-radius: 50%;
    border: 0.01rem solid rgba(0, 0, 0, 0.6);
}

.content-header-mobile {
    border-top: 0.1rem solid black;
}

.categorias-link:hover .lista-categorias {
    display: block;
}

.categorias-link {
    cursor: pointer;
}

.perfil-menu {
    cursor: pointer;
}

.perfil-menu:hover .lista-perfil {
    display: block;
}

.perfil-menu:hover .lista-perfil-mobile {
    display: block;
}

.lista-perfil {
    display: none;
    position: absolute;
    background-color: white;
    list-style: none;
    font-size: 0.9rem;
    right: 1.8rem;
    top: 3.5rem;
}

.lista-perfil-mobile {
    display: none;
    position: absolute;
    background-color: white;
    list-style: none;
    font-size: 0.9rem;
    top: 7rem;
}

.lista-categorias:hover {
    display: block;
}

.lista-categorias {
    display: none;
    position: absolute;
    background-color: white;
    list-style: none;
    font-size: 0.9rem;
}

.categoria-icon {
    width: 0.7rem;
}

.categoria-item:hover {
    background-color: lightgray;
    cursor: pointer;
}

.perfil-item:hover {
    background-color: lightgray;
    cursor: pointer;
}

@media (width >=1200px) {
    .header {
        display: block;
    }

    .header-mobile {
        display: none;
    }
}

@media (width <1200px) {
    .header {
        display: none;
    }

    .header-mobile {
        display: block;
    }

    .lista-perfil-mobile {
        width: 50% !important;
    }
}