@media (width <1200px) {
    .texto-boton {
        font-size: 0.7rem;
        height: 100%;
    }
}

.padre-dashboard {
    position: absolute;
    top: 4rem;
    z-index: 1;
}

.search-form {
    background-color: white;
    border-radius: 2rem;
}

.search-input {
    background-color: transparent;
    outline: none;
    border: none
}

.search-button {
    border: none;
    outline: none;
    background-color: transparent;
}

.search-icon {
    width: 1.5rem;
}